.projects-container {
  padding-top: 60px;
  flex: 1;
  min-height: 100vh;
  background: #f9f9f9;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 24px;
  margin: 40px auto;
  max-width: 1200px;
}

.project-card {
  background: #222;
  border-radius: 500px;
  box-shadow: 0 6px 24px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-4px) scale(1.04);
  box-shadow: 0 12px 32px rgba(0,0,0,0.22);
}

.project-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.project-title {
  padding: 16px;
  color: orange;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(32,32,32,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  background: #fff;
  border-radius: 18px;
  padding: 36px 28px;
  position: relative;
  /* max-width: 500px; */
  width: calc(100% - 1000px);
  height: calc(100% - 500px);
  box-shadow: 0 10px 32px rgba(0,0,0,0.20);
  text-align: left;
  justify-content: center;
  animation: fadeIn 0.2s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 24px;
  font-size: 2.4em;
  color: #888;
  cursor: pointer;
}

.modal-name{
  text-align: center;
}

.modal-description { 
  text-align: center;
}

.modal-image {
  width: 100%;
  height: calc(100% - 100px);
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.modal-github { 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GITUHB ICON */
.modal-github svg { 
  color: #72817e;
  width: 48px; /* size of the GitHub icon itself */
  height: 48px;
}